F42BBS_NODE_ID=1:42/3
F42BBS_KEY=f42bbs-dev-key
F42BBS_PEER_URL=https://bbs4.foxtrot42.org/f42bbs/inbound
STEP_PORT=8766
# AgentMail (ARM nodes only)
# AGENTMAIL_API_KEY=
# F42BBS_INBOX=
# F42BBS_POLL=30
# F42BBS_BEAT_INTERVAL=0